/* FOOTER */

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 324px;
    background-color: #E0FBFF;
}

footer h1{
    color: rgba(171, 196, 255, 1);
    font-family: Comic Sans MS;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom: 30px;
}

footer p{
    color: rgba(171, 196, 255, 1);
    font-family: Comic Sans MS;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    margin-top: 16px;
}

.footer1{
    width: calc(100% / 3);
    padding: 94px 30px;
}

.footer1 p{
    text-align: center;
}

.footer2{
    width: calc(100% / 3);
    padding: 71px 50px 71px 100px;
}

.footer3{
    width: calc(100% / 3);
    padding: 71px 50px 71px 0;
}