/* Header */

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color: #E0FBFF;
}

.nav1{
    width: 50%;
    padding-left: 50px;
}

.nav2{
    display: flex;
    flex-direction: row;

    width: 50%;
    height: 100%;
    padding: 0 50px 0 100px;
}

.nav2 a{
    margin: auto;
}

.nav2 a{
    text-decoration: none;
    background-color: #E0FBFF;
    color: rgba(171, 196, 255, 1);
    font-family: Comic Sans MS;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
}

.nav2 a:hover{
    color: #032C7A;
}