p{
  font-size: 2.3em;
  line-height: 1.1;
  font-weight: 600;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  font-size: 2.5em;
  line-height: 1.1;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
